/* Root */
:root {
    /* color */
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
    --bgNew: #F0F8FF;
    --bgbutton: #4070f4;

}
/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
/* Nav Styling */
ul {
    list-style-type: none;
    background-color: var(--bgDark);
    display: flex;
    overflow: visible;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

li,
h1,
a {
    float: left;
    color: var(--bgLight);
    padding: 0.4rem 0.4rem;
    margin: auto;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
}
/* Change the link color on hover */
li a:hover {
    background-color: var(--secondary);
}
/* Contact Me CSS */
.contact {
    background: var(--bgNew);
    width: 100%;
    height: 100%;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
    font-size: 2rem;

}

.contact .text {
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}
section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary);
    color: var(--white);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: var(--primary);
    background-color: var(--white);
    color: var(--primary);
}